:root {
    --background: #FBFBFB;
    --softGray: #DFDFDF;
    --gray: #DFDFDF;
    --medGray: #5e7887;
    --darkGray: #263138;
}

html,
body {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    background-color: var(--background);
    color: var(--medGray);
}

header,
section,
footer {
    padding: 24px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
}

a, h2 {
    color: var(--darkGray);
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--darkGray);
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--background);
}

.header__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .5rem;
}

.header__btn {
    display: none;
}

.header__link {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: var(--medGray);
}

.header__link.--active {
    color: var(--darkGray);
    transition: 0.5s ease-out;
  }

@media (max-width: 600px) {
    .header__btn {
        display: block;
    }

    .header__menu {
        display: block;
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0px;
        background-color: #e7e7e7;
        transition: .6s;
        visibility: hidden;
        overflow: hidden;
    }

    .header__nav.--active .header__menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    .header__link {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #000;
    }

    .header__btn {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    
    .header__hamburger {
        border-top: 2px solid;
        width: 20px;
        color: var(--darkGray);
    }
    
    .header__hamburger::after,
    .header__hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    
    .header__nav.--active .header__hamburger {
        border-top-color: transparent;
    }
    
    .header__nav.--active .header__hamburger::before {
        transform: rotate(135deg);
    }
    
    .header__nav.--active .header__hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}


.home__article,
.home__figure {
    display: block;
    width: 50%;
    height: 100%;
}

.home__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__titulo {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--darkGray);
}

.home__titulo::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.home__figure {
    background-color: var(--softGray);
}

@media (max-width: 600px) {
    .home__article {
        width: 100%;
    }

    .home__figure {
        display: none;
    }
}


.footer {
    background-color: var(--gray);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}